<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
                    receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
                    maxBufferSize="99999999" maxReceivedMessageSize="99999999">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceBinding1" closeTimeout="00:10:00" openTimeout="00:10:00"
                    receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
                    maxBufferSize="99999999" maxReceivedMessageSize="99999999"/>
                <binding name="WebServiceBinding2" closeTimeout="00:10:00" openTimeout="00:10:00"
                    receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
                    maxBufferSize="99999999" maxReceivedMessageSize="99999999">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.smartweb.io/service.php" binding="basicHttpBinding"
                bindingConfiguration="WebServiceBinding" contract="SmartWeb.WebServicePort"
                name="WebServicePort" />
            <endpoint address="https://api.smart-web.dk/service.php" binding="basicHttpBinding"
                bindingConfiguration="WebServiceBinding2" contract="SmartwebApi.WebServicePort"
                name="WebServicePort1" />
        </client>
    </system.serviceModel>
</configuration>